
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --padding-container: 100px 0;
  --color-title: #001A49;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5f7;
  background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
}

.hero {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 800px;
  position: relative;
  display: grid;
  grid-template-rows: 100px 1fr;
  color: #fff;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../imagenes/cartel3.jpg);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
  z-index: -1;
}


/* NAV */ 

.nav {
   --padding-container: 0; 
   height: 100%;
   display: flex;
   align-items: center;

}

.nav-titulo{
  font-weight: 300;

}

.nav-link{
  margin-left: auto;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 2em;
}

.nav-items{
list-style: none;
}


.nav-links{
  color: #fff;
  text-decoration: none;
}

.nav-menu{
margin-left: auto;
cursor: pointer;
display: none;
}

.nav-img{
  display: block;
  width: 30px;
}

.nav-close{
  display: var(--show, none);
}

/* HERO CONTAINER */

.hero-container{
  max-width: 800px;
  --padding-container:0;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  gap: 1em;
  padding-bottom: 100px;
  text-align: center;
}

.hero-titulo{
  font-size: 3rem;
}

.hero-parrafo{
  margin-bottom: 20px;
}

.cta{
  display: inline-block;
  background-color: #2091f9;
  justify-self: center;
  color: #fff;
  text-decoration: none;
  padding: 13px 30px;
  border-radius: 32px;
}

/* ABOUT */ 

.about{
  text-align: center;
  
}

.subtitulo{
  color: var(--color-titulo);
  font-size: 2rem;
  margin-bottom: 25px;

}

.about-parrafo{
  line-height: 1.7;
}

.about-main{
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: 0 auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(260px, auto));
  
}

.about-icons{
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
}

.about-icon{
  width: 40px;

}

/* TESTIMONIO */

.testimonio{
background-color: #e5e5f7;
}

.testimonio-container{
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 1em;
  align-items: center;
}

.testimonio-body{
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
}

.testimonio-body__show{
pointer-events: unset;
opacity: 1;
transition: opacity 1.5s ease-in-out;
}

.testimonio-img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 45%;
}

.testimonio-texts{
  max-width: 700px;
}

.testimonio-course{
  background-color: royalblue;
  color: #fff;
  display: inline-block;
  padding: 5px;

}

.testimonio-arrow{
  width: 90%;
  cursor: pointer;
}


/* FOOTER */

.footer{
  background-color: #1d293f;
}

.footer-titulo{
  font-size: 300;
  font-weight: 2rem;
  margin-bottom: 30px;
}

.footer-titulo, .footer-suscripcion{
  color: #fff;
}

.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
}

.nav-footer{
  padding-bottom: 20px;
  display: grid;
  gap: 1em;
  grid-auto-flow: row;
  height: 100%;

}

.nav-link__footer{
  display: flex;
  margin: 0;
  margin-right: 20px;
  flex-wrap: wrap;
}

.footer-inputs{
  margin-top: 10px;
  display: flex;
  overflow: hidden;
}

.footer-input{
  background-color: #fff;
  height: 50px;
  display: block;
  padding-left: 10px;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border: none;
  margin-right: 16px;
}

.footer-submit{
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  background-color: #2091f9;
  border: none;
  font-size: 1rem;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.footer-copy{
  --padding-container: 30px 0;
  text-align: center;
  color: #fff;
}

.footer-copyright{
  font-weight: 300;
}

.footer-icons{
  margin-bottom: 10px;
}

.footer-img{
  width: 30px;
}

/*ACERCA DE*/

.acerca-de {
  padding: 80px 0;
  text-align: center;
}

.acerca-de__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.acerca-de__titulo {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #001A49;
}

.acerca-de__contenido {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.acerca-de__texto {
  max-width: 600px;
  margin-bottom: 40px;
}

.acerca-de__parrafo {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.acerca-de__img {
  max-width: 100%;
  height: auto;
  margin-top: 40px;
}

.valores-lista {
  list-style: none;
  margin-bottom: 40px;
}

.valores-items {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}
/* */
.acerca-de__img img {
  max-width: 100%;
  height: auto;
}


/* 
.acerca-de {
  padding: 80px 0;
  text-align: center;
}

.acerca-de__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.acerca-de__titulo {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #001A49;
}

.acerca-de__contenido {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.acerca-de__texto {
  max-width: 600px;
  margin-bottom: 40px;
}

.acerca-de__subtitulo {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #001A49;
}

.acerca-de__descripcion {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.acerca-de__img {
  max-width: 100%;
  height: auto;
  width: 50%;
}

*/


/*----GALERIA----*/

#galeria {
  font-family: 'Poppins', sans-serif;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 1px, transparent 1px), radial-gradient(#444cf7 1px, #e5e5f7 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
}

.main__galeria {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 30px;
  grid-gap: 30px;
  background-image: linear-gradient(to right, #9a8478, #8e9eab);
}

.main__galeria .foto {
  grid-row: auto;
  grid-column: auto;
  transform: none;
  animation-name: mianimacion;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto2 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.main__galeria .foto3 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.main__galeria .foto4 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 12s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto5 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 14s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto6 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 16s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto7 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 18s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto8 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto9 {
  grid-row: auto;
  grid-column: auto;
  animation-name: mianimacion;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.main__galeria .foto10 {
  grid-row: auto;
  grid-column: auto;
  transform: none;
  animation-name: mianimacion;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto11 {
  grid-row: auto;
  grid-column: auto;
  transform: none;
  animation-name: mianimacion;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.main__galeria .foto12 {
  grid-row: auto;
  grid-column: auto;
  transform: none;
  animation-name: mianimacion;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.foto--cambio {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.foto--cambio:hover {
  opacity: 1;
  transition: all 0.3s ease;
}

@keyframes mianimacion {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


/*---UBICACION---*/

.contacto-main .main__ubicacion {
  padding: 60px 0;
  overflow: hidden;
}

.contenedor__titulo {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin-bottom: 40px;
}

.main__ubicacion .direccion {
  float: left;
  width: 50%;
  text-align: left;
}

.main__ubicacion .horarios {
  float: right;
  width: 50%;
  overflow: hidden;
}

.direccion__domicilio {
  margin-bottom: 15px;
}

.horarios__titulo {
  text-align: center;
  margin-bottom: 20px;
}

.horarios__entreSemana,
.horarios__finDeSemana {
  width: 50%;
  float: left;
  text-align: center;
}

.contacto-main .mapa {
  width: 100%;
  overflow: hidden;
}

.contacto-main .mapa iframe {
  width: 100%;
  max-height: 600px;
}

/* FORMULARIO */

.contacto-main .contacto {
  font-weight: 300;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.contacto-main .formulario {
  margin: 15px auto;
  width: 700px;
  font-size: 15px;
  display: flex;
  flex-flow: column nowrap;
  min-width: 200px;
  text-align: left;  
}

input {
  width: 30%;
  padding: 7px;
  margin: 6px 0;
  border-bottom: 3px solid #333;
}

input:focus {
  background-color: transparent;
  outline: none;
  border-bottom: 3px solid #5ad;
}

textarea {
  outline: none;
  border-radius: 3px;
  width: 75%;
  min-height: 90px;
  border-bottom: 3px solid #333;
  resize: none;
}

textarea:focus {
  border-bottom: 3px solid #5ad;
}

input.reseteo,
input.enviar {
  padding: 9px;
  margin: 5px;
  font-size: 15px;
  background-color: #5dade2;
  border: none;
  border-radius: 16px;
}

input.reseteo:hover,
input.enviar:hover {
  background-color: #5f9;
  border-bottom: none;
}



/* MEDIA QUERIES */

@media (max-width:800px){
  .nav-menu{
    display: block;
  }

  .nav-link__menu{
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: .7s opacity;
  }

  .nav-link--show{
    --show: block;
    opacity:1;
    pointer-events: unset;
  }

  .nav-close{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
  }

  .hero-titulo{
    font-size: 2.rem;
  }

  .about-main{
    gap: 2em;
  }

  .about-icons:last-of-type{
    grid-column: 1/-1;
  }

  .testimonio-container{
    grid-template-columns: 30px 1fr 30px;
  }

  .testimonio-body{
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    gap: 3em;
    justify-items: center;
  }

  .testimonio-img{
    width: 200px;
    height: 200px;
  }

 .footer-container{
  flex-wrap: wrap;
 }

 .nav-footer{
  width: 100%;
  justify-items: center;
 }

 .nav-link__footer{
  width: 100%;
  justify-content: space-evenly;
  margin: 0;
 }


 .footer-form {
  width: 100%;
  justify-content:space-evenly; 
 }

 .footer-input{
  flex: 1;
 }
}

@media (max-width:600px){
  .hero-titulo{
    font-size: 2rem;
  }

  .hero-parrafo{
    font-size: 1rem;
  }

  .subtitulo{
    font-size: 1.8rem;
  }

  .testimonio{
    --padding-container: 60px 0;
  }
  /* revisar cuando se agregue otra img en html para ver como queda */

  .testimonio-container{
    grid-template-columns: 28px 1fr 28px;
    gap: .9em;
  }

  .testimonio-arrow{
    width: 100%;
  }

  .testimonio-course{
    margin-top: 15px;
  }

  /*
  .nav-footer{
    padding: 0;
    margin-bottom: 40px;
  }
  */
  /*puede quedar mejor sin esto. inclusive esta querie puede ser para 430*/

  .footer-titulo{
    justify-self: start;  
    margin-bottom: 15px;
  }

  .nav-footer{
    padding-bottom: 60px;
  }

  .nav-link__footer{
    justify-content: space-between;
  }

  .footer-inputs{
    flex-wrap: wrap;
  }

  .footer-input{
    flex-basis: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .footer-submit{
    margin:0;
    width: 100%;
  }
}

/* Responsive Galeria*/

@media (max-width: 768px) {
  .main__galeria {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 10px;
  }

  .main__galeria .foto {
    transform: none;
  }

  .main__galeria .foto2 {
    grid-column: 1 / span 2;
    grid-row: 3 / 5;
  }

  .main__galeria .foto3 {
    grid-row: 1 / span 2;
  }

  .main__galeria .foto4 {
    grid-row: 5 / 7;
    grid-column: 3 / 4;
  }

  .main__galeria .foto5 {
    grid-row: 1 / span 3;
  }

  .main__galeria .foto6 {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }

  .main__galeria .foto7 {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }

  .main__galeria .foto8 {
    grid-row: span 1;
  }

  .main__galeria .foto9 {
    transform: none;
  }

}

/* ACERCA DE 

.acerda-de {
  padding: 50px 0;
  background-color: #f5f5f5;
}

.acerca-de__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.acerca-de__titulo {
  text-align: center;
  color: #333;
  font-size: 2rem;
  margin-bottom: 30px;
}

.acerca-de__contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acerca-de__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.acerca-de__texto {
  text-align: center;
}

.acerca-de__historia {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.acerca-de__descripcion {
  color: #666;
  margin-bottom: 20px;
}
*/
@media (min-width: 768px) {
  .acerca-de__contentido {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .acerca-de__img {
    max-width: 400px;
  }

  .acerca-de__texto {
    text-align: left;
  }
}
