<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosco El Sucucho</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
    <link rel="shortcut icon" href="./imagenes/store-solid-24.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./css/normalize.css">
    <meta name="theme-color" content="#2091f9">

<meta name="title" content="Kiosco El Sucucho" />
<meta name="description" content="Descubri el Kiosco El Sucucho, donde encontrarás una amplia variedad de productos de alta calidad. Disfruta de nuestros precios competitivos, amplia gama de productos y horarios extendidos para satisfacer todas tus necesidades. ¡Visitanos y descubri los mejores productos en un solo lugar!
" />


<meta property="og:type" content="website" />
<meta property="og:url" content="https://benjazamu.github.io" />
<meta property="og:title" content="Kiosco El Sucucho" />
<meta property="og:description" content="Descubri el Kiosco El Sucucho, donde encontrarás una amplia variedad de productos de alta calidad. Disfruta de nuestros precios competitivos, amplia gama de productos y horarios extendidos para satisfacer todas tus necesidades. ¡Visitanos y descubri los mejores productos en un solo lugar!
" />
<meta property="og:image" content="https://benjazamu.github.io/portada.jpg" />


<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://benjazamu.github.io" />
<meta property="twitter:title" content="Kiosco El Sucucho" />
<meta property="twitter:description" content="Descubri el Kiosco El Sucucho, donde encontrarás una amplia variedad de productos de alta calidad. Disfruta de nuestros precios competitivos, amplia gama de productos y horarios extendidos para satisfacer todas tus necesidades. ¡Visitanos y descubri los mejores productos en un solo lugar!
" />
<meta property="twitter:image" content="https://benjazamu.github.io/portada.jpg" />

<body>
    <header class="hero">
        <nav class="nav container">
            <div class="nav-logo">
                <h2 class="nav-titulo">Kiosco El Sucucho</h2>
            </div>
            <ul class="nav-link nav-link-menu">
                <li class="nav-items">
                    <a href="#" class="nav-links">Inicio</a>
                </li>
                <li class="nav-items">
                    <a href="./acerca-de.html" class="nav-links">Acerca de</a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-links">Contacto</a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-links">Galeria</a>
                </li>
                <li class="nav-items">
                    <img src="./imagenes/close.svg" class="nav-close">
                </li>
            </ul>
            <div class="nav-menu">
                <img src="./imagenes/menu.svg" class="nav-img">
            </div>
        </nav>
        <section class="hero-container container">
            <h1 class="hero-titulo">LOS MEJORES PRODUCTOS</h1>
            <p class="hero-parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima, nostrum. Minus doloribus tempore exercitationem! Nisi at obcaecati voluptates aut saepe voluptate, velit a omnis fugit quidem illo? Ipsa, sunt asperiores!</p>
            <a href="#" class="cta">Compra ahora</a>
        </section>
    </header>

    <footer class="footer">
        <section class="footer-container container">
            <nav class="nav nav-footer">
                <h2 class="footer-titulo">Kiosco El Sucucho</h2>
                <ul class="nav-link nav-link__footer">
                    <li class="nav-items">
                        <a href="#" class="nav-links">Inicio</a>
                    </li>
                    <li class="nav-items">
                        <a href="#" class="nav-links">Acerca de</a>
                    </li>
                    <li class="nav-items">
                        <a href="#" class="nav-links">Contacto</a>
                    </li>
                    <li class="nav-items">
                        <a href="#" class="nav-links">Galeria</a>
                    </li>
                    <li class="nav-items">
                        <img src="./imagenes/close.svg" class="nav-close">
                    </li>
                </ul>
            </nav>
            <form action="" class="footer-form">
                <h2 class="footer-suscripcion">Suscribite para recibir todas las promociones</h2>
                <div class="footer-inputs">
                    <input type="email" placeholder="Email:" class="footer-input">
                    <input type="submit" value="Registrate" class="footer-submit">
                </div>
            </form>
        </section>

        <section class="footer-copy container">
            <div class="footer-social">
                <a href="#" class="footer-icons"><img src="./imagenes/facebook.svg" class="footer-img" alt=""></a>
                <a href="#" class="footer-icons"><img src="./imagenes/twitter.svg" class="footer-img" alt=""></a>
                <a href="#" class="footer-icons"><img src="./imagenes/instagram.svg" class="footer-img" alt=""></a>
            </div>

            <h3 class="footer-copyright">Derechos reservados &copy; Benjamin Zamudio</h3>
        </section>
    </footer>
    <script src="./js/menu.js"></script>
</body>
</html>


